.form{
    display: flex;
    flex-direction: column;
}

.container{
    display: block;
    margin: auto;
    text-align: center;
}
.input{
    width: 15rem;
    margin: 1rem;
}
.submit{
    width: 10rem;
}

.card{
    background-color: pink;
    border-radius: 12px;
    width: 20rem;
    margin: auto;
}
.img{
    display: block;
    margin: auto;
    width: 16rem;
    border-radius: 12px;
}

.card-content{
    text-align: center;
}